.btn {
  font: inherit;
  border: 1px solid #4f005f;
  background: #4f005f;
  color: white;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 30px;
}

.btn:hover,
.btn:active {
  background: #741188;
  border-color: #741188;
}

.btn:focus {
  outline: none;
}

.btn:disabled,
.btn:focus:disabled,
.btn:hover:disabled,
.btn:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: #741188;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: #741188;
  color: white;
}
