@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  @apply font-monsterrat;
  margin: 0;
  background-color: #efeded;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  place-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
